

.fondo {
    background-color:  white;
    height: 100vh;
    padding-top: 40%;

}

@media screen and (min-width: 760px) {
    .fondo {
        padding-top: 20%;
        display: flex;
        flex-direction: row;
        margin: 0 50px;
     
    }

 .fondo > * {
        flex: 2; 
    }
    .subtotal {
        flex: 1;
    }
}

@media screen and (min-width: 1024px) {
    .fondo {
        padding-top: 10%;
        display: flex;
        flex-direction: row;
        margin: 0 100px;
     
    }

 .fondo > * {
        flex: 2; 
    }
    .subtotal {
        flex: 1;
    }
}
.borrar{
    padding: 2px ;
    text-transform: lowercase;
    display: block;
    color: blue;
     @media  screen and (min-width:760px) {
    padding-top: 0%;
        width: 100%;
}
}

.container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

   
}

.row-product{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
 @media  screen and (min-width:760px) {
 justify-content: space-evenly;
 margin:0 30px;
}

  
}

.hr2 {
     @media  screen and (min-width:760px) {
       display: none;

}
}



.cart_product{
   display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 width: 100%;
        @media  screen and (min-width:760px) {
justify-content: left;

}
 @media  screen and (min-width:1024px) {
 justify-content: space-around;
 margin:0 30px;
}
 
}

.info_product{
    display: flex;
   flex-direction: column;
   justify-content: center;
    padding: 15px;
   align-items: center;
   text-align: center;
   gap: 10px;
}

.img{
width: 100px;
height: 100px;
}

.cantidadprecio{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}


.cart-total{

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    padding-top: 20px;
    font-size: 0.5rem;
    width: 100%;
}

.boton{
    color: white;
    background-color: black;
    &:hover{
     color: rgb(10, 10, 10);
    background-color: rg    b(253, 252, 252);
    }
}


