.app__container__hero{
width: 100%;
height: 100vh;
background-image:url(../../images/fondo.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
top: 90px;
}

@media (min-width: 768px) {
   .app__container__hero{
   background-image:url(../../images/fondo.jpg) ;
   background-size:cover;
  
   }
}


