.navbar {
  
  font-family: 'Tajawal';
  width: 100%;
  padding: 20px 0px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 226, 79);
  align-items: center;
  color: white;
  font-size: 20px;
   z-index: 10000;
  height: 80px;
    @media (min-width: 768px) {
    height: 50px;
  }


  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
    padding-top: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.9s ease, transform 0.9s ease;
    z-index: 999;
    height: 100vh;
    background-color: rgba(186, 164, 190, 0.9);
    color: black;

    &__cart {
    position: relative;

    &__span{
      position: absolute;
      top: 55%;
      right: 0;
     
    }

  }

    @media (min-width: 768px) {

    display:flex;
    flex-direction: row;
    align-items: initial;
    padding-right: 20px;
    padding-top: initial;
    color: black;
    align-items: center;
    font-size: 25px;
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    opacity: initial;
    transform: initial;
    transition: initial;
    z-index: initial;
    height: initial;
    background-color: initial;
    font-size: 2rem;
      }
  }


  & h1 {
    padding-left: 15px;
    font-family: 'Tajawal';
    font-size: 2rem;
    color: black;
    font-weight: bold;
      @media (min-width: 768px){
        font-size: 3rem;
      }
  }

  & a {
    text-decoration: none;
    color: black;

   @media (min-width: 768px) {
    color: black;
  }

  }

  
}


.menuhidden {
  display: flex;
  padding-right: 20px;

   @media (min-width: 768px) {
    display: none;
  }
}


.show {
    opacity: 1;
    transform: translateY(0);
}

.menu{
  width: 50px;
  height: 50px;
}
.container-cart-products{
   font-family: 'Tajawal';
    position: absolute;
    top: 10px;
    right: 2%;
    max-height: 500px;
    background-color: #fff;
    width: 300px;
    z-index: 19999;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    color: black;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  width: 100%;
   
} 

.info-cart-product{
    display: flex;
    flex: 0.9;
    gap: 10px;
    align-items: center;
    padding: 10px 0px;
}

.titulo-producto-carrito{
    font-size: 1.5rem;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
    font-weight: bold;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.btn-clearall {
  border: none;
  background-color: rgb(60, 62, 50);
  color: white;
  font-weight: bolder;
  padding:15px 0;
  display: block;
  width: 100%;
  margin-top: 10px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 16px;
  transition: all .3s ease-in-out ;
  text-transform: uppercase;
}

.btn-clearall:hover {
  background-color: #762d70;
  transform: scale(1.03);
  border-radius: 0;
}

.sectionNavbar{
  position: relative;
}

.guest{
text-transform: uppercase;
font-family:monospace;

}

.guest {
  color: #e52c2c;
  font-weight: bolder;
}

