
.app__container__productlist
    {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
 
}


.app__container__productlist__h1 {
  padding-top: 100px;
    color: black;
    font-size: 30px;
    text-align: center;
    width: 100%;
  }



