.detail{
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}


.wrapper {
  max-width: 350px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  transition: all .5s;

}

.wrapper:hover {
   transform: scale(1.2);
}

.product-img {

  img {
    padding: 20px;
    border-radius: 7px 0 0 7px;
    width: 150px;
    height: 150px;

   
  }
}


.product-info{
padding: 5px;
}

.product-text {
 
  h1 {
    font-size: 20px;
    color: #474747;
    text-align: left;
  }

  h1,
  .product-price-btn p {
     font-family: 'Tajawal';
     font-weight: bolder;
   
  }

  h2 {
 
padding-bottom: 10px;
     font-family: 'Tajawal';
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.2em;
  }

  p {
    
    height: 125px;
     font-family: 'Tajawal';  
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
    padding: 3px;
  }
}

.product-price-btn {
display: flex;
justify-content: flex-end;

margin-bottom: 10px;

  p {

    font-family: 'Trocchi', serif;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
  }

  span {
    display: inline-block;
 
     font-family: 'Tajawal';
    font-size: 3rem;
    padding: 10px;
  }

  button {
    float: right;
    margin-left: 20px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Tajawal';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9f9ceb;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #79b0a1;
    }
  }
}

.hidden {
  display: none;
}

.detalle{
  color: red;
  font-family: 'tajawal';
  font-size: 1.5rem;
}