@mixin tablet {
    @media only screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $breKpoint-desktop) {
        @content;
    }
}
